/* 
NAVIGATION -------------------
*/



/* 
MAIN INDEX -------------------
*/

.container_index {
    height: 100%;
    max-width: 100%;
}

/* 
IMG & BUTTON -------------------
*/

.big {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 5rem;
}

.container_home {
    height: 100%;
    max-width: 100%;
}

.container_buttons a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-bottom:1em;
    transition: all 0.5s ease;
    color: rgb(255, 255, 255, 0.8);
    background-color: transparent;
}

.container_buttons a:hover,
.container_buttons a:focus, 
.container_buttons a:active {
  text-decoration: none;
  color: white;
}

.container_starryeffect {
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    margin-top:2em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.container_starryeffect img {
    width: 30%;
    height: auto;
}


.container_cloud1 {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    opacity: 0.8;
}

.container_cloud1 img {
    width: 90%;
    height: auto;
}

.container_cloud2,
.container_cloud3 {
    position: absolute;
    transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    display: flex;
    flex-direction: row;
    opacity: 0.6;
}

.container_cloud2 img {
    width: 60%;
    height: auto;
}

.container_cloud3 img {
    width: 50%;
    height: auto;
}


.container_home .container_buttons {
    position: absolute;
    transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
    display: flex;
    flex-direction: column;
}

/* About me */

.window_right .aboutme {
    background-color: white;
    padding: 0em;
    height: fit-content;
    border-radius: 12px;
    outline: 1px solid black;
    width: auto;
}

#aboutme,#projects {
    padding-top:8.25em;
}

.about_content {
    display:flex;
    flex-direction:row;
    gap:2em;
    padding:2em;
    flex-wrap: wrap;
    justify-content:space-around;
}

.window_right .projects {
    background-color: white;
    padding: 0em;
    height: fit-content;
    border-radius: 12px;
    outline: 1px solid black;
    width: auto;
}

.vertical_content_block {
    display:flex;
    flex-direction: column;
    gap: 1em;
    flex-basis: 25%;
    min-width: 120px;
}

.vertical_content_block p {
    padding-bottom:2em;
}

/* 
RESPONSIVENESS -------------------
*/

@media (min-width: 90em) {

    .container_home .container_buttons {
        top: 60%;
        left: 50%;
    }

    .container_proj2 {
        flex-basis: 25%;
    }

    .container_cloud1 {
        top: 34%;
        left: 10%;
    }

    .container_cloud2 {
        top: 50%;
        left: 60%;
    }

    .container_cloud3 {
        top: 18%;
        left: 51%;
    }

}

@media (min-width: 60em) {

    .container_home .container_buttons {
        top: 60%;
        left: 50%;
    }

    .container_proj2 {
        flex-basis: 25%;
    }

    .container_cloud1 {
        top: 34%;
        left: 10%;
    }

    .container_cloud2 {
        top: 50%;
        left: 60%;
    }

    .container_cloud3 {
        top: 18%;
        left: 51%;
    }

}

@media (min-width: 45em) and (max-width: 60em) {
    .container_home .container_buttons {
        top: 65%;
        left: 50%;
    }

    .button_nav {
        font-size: 3rem;
        padding: 1.5rem;
    }

    .container_proj2 {
        flex-basis: 25%;
    }

    .container_cloud1,
    .container_cloud2,
    .container_cloud3 {
        display: none;
    }

}

@media (min-width: 40em) and (max-width: 45em) {
    .container_home .container_buttons {
        top: 65%;
        left: 50%;
    }

    .button_nav {
        font-size: 3rem;
        padding: 1.5rem;
    }

    .container_proj2 {
        flex-basis: 25%;
    }

    .container_cloud1,
    .container_cloud2,
    .container_cloud3 {
        display: none;
    }

    .background-wrapper {
        background-size: 200%;
    }

}

@media (min-width: 30em) and (max-width: 40em) {
    .container_home .container_buttons {
        top: 50%;
        left: 50%;
    }

    .button_nav {
        font-size: 2.6rem;
        padding: 1rem;
    }

    .container_proj2 {
        flex-basis: 50%;
    }

    .container_cloud1,
    .container_cloud2,
    .container_cloud3 {
        display: none;
    }

    .background-wrapper {
        background-size: 200%;
    }
}

@media (max-width: 30em) {
    .container_home .container_buttons {
        top: 50%;
        left: 50%;
    }

    .button_nav {
        font-size: 2rem;
        padding: 1rem;
    }

    .container_proj2 {
        flex-basis: 100%;
    }

    .container_cloud1,
    .container_cloud2,
    .container_cloud3 {
        display: none;
    }

    .background-wrapper {
        background-size: 400%;
    }

}