/* 
NAVIGATION -------------------
*/



/* 
MAIN INDEX -------------------
*/

.container_index {
    height: 100%;
    max-width: 100%;
}

/* 
IMG & BUTTON -------------------
*/

.big {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 5rem;
}

.container_home {
    height: 100%;
    max-width: 100%;
}

.container_buttons {
    top:60%;
    left:50%;
}

.container_buttons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    color: rgb(255, 255, 255, 1);
    background-color: transparent;
}

.container_buttons a:hover,
.container_buttons a:focus,
.container_buttons a:active {
    text-decoration: none;
}

.container_starryeffect {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.container_starryeffect img {
    width: 30em;
    height:auto;
}


.container_cloud1 {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    opacity: 0.8;
}

.container_cloud1 img {
    width: 90%;
    height: auto;
}

.container_cloud2,
.container_cloud3 {
    position: absolute;
    transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    display: flex;
    flex-direction: row;
    opacity: 0.6;
}

.container_cloud2 img {
    width: 60%;
    height: auto;
}

.container_cloud3 img {
    width: 50%;
    height: auto;
}


.container_home .container_buttons {
    position: absolute;
    transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
    display: flex;
    flex-direction: column;
}

/* 
RESPONSIVENESS -------------------
*/

@media (min-width: 90em) {


    .container_proj2 {
        flex-basis: 25%;
    }

    .container_cloud1 {
        top: 34%;
        left: 10%;
    }

    .container_cloud2 {
        top: 50%;
        left: 60%;
    }

    .container_cloud3 {
        top: 18%;
        left: 51%;
    }

}

@media (min-width: 60em) {




    .container_cloud1 {
        top: 34%;
        left: 10%;
    }

    .container_cloud2 {
        top: 50%;
        left: 60%;
    }

    .container_cloud3 {
        top: 18%;
        left: 51%;
    }

}

@media (min-width: 45em) and (max-width: 60em) {


    .container_cloud1,
    .container_cloud2,
    .container_cloud3 {
        display: none;
    }

}

@media (min-width: 40em) and (max-width: 45em) {

    .container_cloud1,
    .container_cloud2,
    .container_cloud3 {
        display: none;
    }

    .background-wrapper {
        background-size: 200%;
    }

}

@media (min-width: 30em) and (max-width: 40em) {


    .container_cloud1,
    .container_cloud2,
    .container_cloud3 {
        display: none;
    }

    .background-wrapper {
        background-size: 200%;
    }

}

@media (max-width: 30em) {


    .container_cloud1,
    .container_cloud2,
    .container_cloud3 {
        display: none;
    }

    .background-wrapper {
        background-size: 400%;
    }

}