@import url('https://fonts.googleapis.com/css?family=Inter:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,600,600i');
@import url("https://use.typekit.net/qec4opu.css");
@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans:300,300i,400,400i,600,600i');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  height: 100% !important;
  background-color: transparent;
}

/* https://stackoverflow.com/questions/59524026/content-shifts-slightly-on-page-reload-with-chrome */

.background-wrapper {

  background-image: url('../img/digital-art-style-sky-landscape-with-moon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  width: 100%;
  min-height: 100vh;
}

.container_home {
  height: 100%;
  max-width: 100%;
}

.container_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  gap: 3em;
}

/* .parallax {
  background-color: black;
  height: 100%;
  Create the parallax scrolling effect
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} 
*/

/* .parallax_first{
  background-position-y: -200px;
} */

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

video {
  width: 100%;
  height: auto;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Image Header */

.headerimg img {
  width: 100%;
  height: auto;
}

.headerimg h1 {
  margin-top: 1rem;
}



/* 
    TEXT ELEMENTS -------------------
  */

h1 {
  margin-top: 0;
  font-size: 4rem;
  font-weight: 400;
  color: white;
  /* text-align: center; */
}

h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  /* text-align: center; */
}

h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 400;
  /* text-align: center; */
}

h4 {
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
  /* font-style: italic;
    text-align: center; */
}

p {
  /* padding: 0.5em 0em; */
  font-weight: normal;
  /* text-align: center; */
}

ol {
  padding: 0em 1em;
}

li {
  padding: 0.5em 0em;
  font-weight: normal;
}

label {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* 
NAVIGATION -------------------
*/

nav {
  display: flex;
  z-index: 1;
}

.nav_icon_button img {
  height: 60px;
  width: 60px;
}

.nav_icon_button h4 {
  margin: 0.3em 0em 0em 0em;
  padding: 0.4em;
  background-color: rgba(76, 105, 168, 0.5);
  border-radius: 8px;
}

.nav_icon_button {
  background-color: transparent;
  margin: 0;
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
}

.nav_icon_button:hover,
.nav_icon_button:focus,
.nav_icon_button:active {
  text-decoration: none;
  color: white;
  background-color: rgba(76, 105, 168, 0.5);
  outline: 2px solid rgb(151, 167, 201);
  border-radius: 8px;
  transition: background-color 0.5s ease;
  transition: outline 0.1s ease;
}


/* .nav_left nav a {
  font-size: 2.4rem;
  display: block;
  text-transform: lowercase;
  color: white;
  margin-top: auto;
  margin-bottom: auto;

}

.nav_right nav {
  justify-content: space-around;
}

.nav_right nav a {
  font-size: 1.8rem;
  display: inline-block;
  transition: all 0.5s ease;
  text-transform: lowercase;
  color: rgba(255, 255, 255, 0.8);
  padding-right:0.5em;
}

.nav_right nav a:active,
.nav_right nav a:hover,
.nav_right nav a:focus {
  color: white;
} */

/* 
HEADER BAR -------------------
*/

.container_nav {
  position: fixed;
  width: 80%;
  top: 2em;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(255, 255, 255, 0.08);
  outline: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 1;
  transition: background-color 0.5s ease;
  border-radius: 12px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  /* Adjust blur strength as needed */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari compatibility */
}

.container_nav .scrolled {
  background-color: rgba(223, 157, 185, 1);
  transition: none;
}

.nav_left {
  flex-basis: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

.nav_right {
  flex-basis: 30%;
  margin-top: auto;
  margin-bottom: auto;
}


/* 
FOOTER -------------------
*/

/* footer {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  height: auto;
  width: 100%;
  padding: 1rem;
  color: white;
  text-align: center;
}

footer p {
  font-family: garamond-premier-pro, serif;
} */