/* THIS PAGE HAS WINDOW ELEMENTS CONSISTENT ACROSS THE SITE. FOR SPECIFIC SECTIONS, GO TO */

.window_right {
    display:flex;
    flex-direction: column;
    flex-basis: 80%;
    gap:2em;
}

/* profile */

.window_left .sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 8.25em;
    background-color: white;
    padding: 0em;
    height: fit-content;
    border-radius: 12px;
    outline: 1px solid black;
    flex-basis:20%;

}

.profile_content {
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 1.5em;
}

.profile_circle_inner {
    height: 128px;
    width: 128px;
    background-image: url('../img/bunny-profile-gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    outline: 1px solid black;
    border-width: 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile_circle {
    height: 148px;
    width: 148px;
    background-color: rgb(255, 228, 247);
    outline: 1px solid black;
    border-width: 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.window_left .sticky h3 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.6em;
    margin: 0em 0em 0em;
    padding: 0em 0em 0.1em 0em;
    color: black;
    text-align: center;
}

.window_left .sticky p {
    padding: 0.5em 0em 0em 0em;
    margin: 0em 0em 1em 0em;
    padding: 0em 0em 0em;
    color: black;
    text-align: center;
}

/* Windows Header Bar */

.window_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0.3em 1em;
    background-color: rgb(255, 228, 247);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid grey;
}

.window_bar .window_title {
    font-size: 1.4rem;
    margin: 0em 0em 0em;
    padding: 0.3em 0em;
    color: black;
    align-items: end;
    display: inline;
}

.window_bar .window_buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
}

.action_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.3em 1em;
    background-color: rgb(235, 235, 235);
    border-bottom: 1px solid grey;
    gap: 1em;
}

.action_bar p {
    font-size: 1.3rem;
    margin: 0em 0em 0em;
    padding: 0em 0em 0em;
    color: black;
    align-items: center;
    display: inline;
}

.paint_toolbar {
    display:block;
    height:auto;
    background-color: rgb(235, 235, 235);
    padding:0.5em;
    border-right: 1px solid black;
    border-bottom-left-radius: 12px;
}

.paint_toolbar .toolbar_colours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:min-content;
    gap:4px;
    width:28px;
}

.square {
    height: 12px;
    width: 12px;
    background-color: grey;
    outline: 1px solid black;
    border-width: 1px;
    display: inline-block;
    margin: 0px;
}

.paint_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0em;
    padding: 0em;
    margin: 0em;
}

/* Window Buttons */

.circle {
    height: 12px;
    width: 12px;
    background-color: grey;
    outline: 1px solid black;
    border-width: 1px;
    border-radius: 50%;
    display: inline-block;
}

.c1 {
    background-color: rgb(244, 196, 205);
}

.c2 {
    background-color: rgb(254, 246, 196);
}

.c3 {
    background-color: rgb(220, 244, 205);
}